/* Universal Style Starts */

body {
    color: #333;
    margin: 0;
    padding: 0;
}


section {
    padding: 0 7rem;
}

.d-flex {
    display: flex;
}

p {
    line-height: 30px;
    margin: 35px 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

.text-orange {
    color: #ffaf4e;
}

.half-width {
    width: 45%;
    margin: auto;
}

.one-third {
    width: 30%;
    margin: 2%;
    margin-left: auto;
}

.two-third {
    width: 60%;
    margin: 2%;
}

a.btn {
    background-color: #ff5959;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    border-radius: 3px;
}

img{
    width: 80%;
}

/* Universal Style Ends */

/* Heading Section Starts */

#heading-section hr, #heading-section h1 {
    display: inline-block;
    margin-right: 1rem;
}

#heading-section h1 {
    font-family: 'Merriweather', serif;
}

#heading-section hr {
    background: #ff5959;
    width: 4px;
    height: 6rem;
    border-radius: 50px;
    margin: auto;
    margin-right: 1rem;
}
/* Heading Section Ends */

/* Mission Section Start */
#mission-section h1 {
    text-align: center;
}

#mission-section img {
    width: 50%;
}

#mission {
    background-color: rgb(79, 157, 166, 0.5);
    padding: 5%;
    border-radius: 10px;
}

#mission h3 {
    padding-top: 3%;
}

#vission {
    background-color: rgb(255, 89, 89, 0.5);
    padding: 5%;
    border-radius: 10px;
}

#goals {
    background-color: rgb(255, 173, 90, 0.5);
    padding: 5%;
    border-radius: 10px;
}
/* Mission Section Ends */

/* Develop Section Starts */

#develop-without-limits {
    padding: 5% 7rem;
    background: url(images/illustrators/illustrator-4.png) no-repeat;
    background-size: 10%;
    background-position-y: bottom;
}

#develop-without-limits .d-flex {
    background: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 1px 152px;
}

#develop-without-limits img {
    margin-top: 3rem;
}

/* Develop Section Ends */